<section class="post">
    <h3>Thêm Sân Bóng</h3>
    <form id="sanBongForm" class="form" action="sanBong/themSanBong" method="post">
        <div class="input-box">
            <label>Tên Sân Bóng</label>
            <input type="text" placeholder="Mời Nhập Tên Sân Bóng" id="" name="tenSan" required>
        </div>
        <div class="input-box">
            <label>Địa Điểm</label>
            <input type="text" placeholder="Mời Nhập Địa Điểm" id="" name="diaDiem" required>
        </div>
        <div class="input-box">
            <label>Giá Theo Giờ</label>
            <input type="text" placeholder="Mời Nhập Giá" id="" name="giaTheoGio" min="0" max="2000000" required>
        </div>
        <div class="status-box">
            <label>Trạng Thái</label>
            <div class="status-option">
                <div class="status">
                    <input type="radio" name="trangThai" value="Đang Dùng" id="check-in-use" checked>
                    <label for="check">Đang Dùng</label>
                </div>
                <div class="status">
                    <input type="radio" name="trangThai" value="Bảo Trì" id="check-maintainance">
                    <label for="check">Bảo Trì</label>
                </div>
            </div>
        </div>
        <input type="submit" value="Thêm Sân Bóng" class="submit-btn">
    </form>
</section>
<section class="table">
    <h2 class="header">Danh Sách Sân Bóng</h2>
    <table class="fl-table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên Sân</th>
                <th>Địa Điểm</th>
                <th>Giá Theo Giờ</th>
                <th>Trạng Thái</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody id="sanBongTable">
            <% data.forEach((sanBong, index)=> { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= sanBong.tenSan %>
                    </td>
                    <td>
                        <%= sanBong.diaDiem %>
                    </td>
                    <td>
                        <%= sanBong.giaTheoGio %>
                    </td>
                    <td>
                        <%= sanBong.trangThai %>
                    </td>
                    <td>
                        <button class="icon-btn open-popup">
                            <i class="fas fa-edit"></i>
                        </button>
                        <form action="sanBong/xoaSanBong/<%= sanBong._id %>?_method=DELETE" method="post">
                            <button class="icon-btn" type="submit">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <div id="pagination" class="pagination-controls"></div>
</section>
<dialog close>
    <h2>Pop Up Title</h2>
    <p>Lorem Ipsum</p>
    <div class="controls">
        <button type="button" class="close-btn">Close</button>
        <button>Lưu</button>
    </div>
</dialog>